@font-face {
  font-family: "Recoleta";
  src: url("Recoleta-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

:root {
  --main-text-color: #27272a;
  --inverse-text-color: #ffffff;
}

html {
  font-size: 12px;
}

.body-home {
  line-height: 1.2;
  color: var(--main-text-color);
  overflow: hidden !important;
  width: 100vw;
  min-height: 100svh;
  background: #fafafa;
}

body {
  line-height: 1.2;
  color: #27272a;
  background: #fafafa;
}

.background-container {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.background-gradient {
  width: 100vw;
  height: 100svh;
  background: #fff;
  animation: bg-animation-vertical 8s ease infinite;
}

.banner {
  position: relative;
  width: 100%;
  background: #ecece8;
}

.dawn-background {
  background: #e0cdbe;
  background: linear-gradient(35deg, hsl(30, 34%, 96%), hsl(27, 41%, 79%) 80%);
}
.sunrise-background {
  background: #ffc766;
  background: linear-gradient(45deg, hsl(35, 79%, 89%), hsl(32, 95%, 70%) 70%);
}
.morning-background {
  background: #83d2f6;
  background: linear-gradient(
    135deg,
    hsl(18, 100%, 94%),
    hsl(199, 87%, 74%) 85%
  );
}
.afternoon-background {
  background: #5ca3ff;
  background: linear-gradient(
    195deg,
    hsl(200, 100%, 88%),
    hsl(214, 100%, 68%) 70%
  );
}
.sunset-background {
  background: #fa8f6b;
  background: linear-gradient(210deg, hsl(34, 80%, 82%), hsl(15, 94%, 70%) 70%);
}
.dusk-background {
  background: #35466e;
  background: linear-gradient(
    260deg,
    hsl(224, 14%, 47%),
    hsl(222, 35%, 32%) 60%
  );
}
.night-background {
  background: #0a141f;
  background: radial-gradient(
    circle at 30% 30%,
    hsl(210, 50%, 22%),
    hsl(210, 50%, 8%) 60%
  );
}

.stars {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: lighten;
  opacity: 0.6;
}

.shadow {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.shadow-texture {
  background-position: center center;
  background-repeat: no-repeat;
  height: 120%;
  width: 120%;
  margin-left: -10%;
  margin-top: -5%;
  aspect-ratio: 4 / 3;
  background-size: cover;
  filter: blur(8px);
  opacity: 0.15;
}

.content {
  display: block;
  margin-left: 8%;
  padding-top: 12vh;
  width: 84%;
  max-width: 820px;
  min-height: calc(100svh - 100px);
}

.logo-hero {
  display: block;
  width: 100%;
  margin-bottom: 3rem;
}

.title {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.subtitle {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  max-width: 33ch;
}

.primary-button {
  color: var(--inverse-text-color);
  border-radius: 40px;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  background: var(--main-text-color);
  fill: var(--inverse-text-color);
  stroke: var(--inverse-text-color);
}

.primary-button:hover {
  color: var(--main-text-color);
  background: var(--inverse-text-color);
  fill: var(--main-text-color);
  stroke: var(--main-text-color);
}

.right-arrow {
  height: 1rem;
  width: auto;
  line-height: 2rem;
  margin-left: 2px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.terms-container {
  position: relative;
  display: block;
  margin-left: 8%;
  width: 84%;
  max-width: 820px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.logo-banner {
  display: block;
  height: 36px;
  width: auto;
  margin-bottom: 2rem;
}

.terms-header {
  font-family: "Recoleta", Georgia, "Times New Roman", serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--main-text-color);
}

.terms-main h2 {
  font-family: "Recoleta", Georgia, "Times New Roman", serif;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.terms-main h3 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.terms-main p {
  margin-bottom: 1rem;
}

.terms-main b {
  font-weight: 600;
}

.terms-main ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.terms-main li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ol.terms-list {
  counter-reset: item;
  list-style: none;
}

ol.terms-list li {
  display: block;
  counter-increment: item;
}

ol.terms-list > li {
  font-family: "Recoleta", Georgia, "Times New Roman", serif;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

ol.terms-list > li::before {
  content: counters(item, ".") ". ";
}

ol.terms-list ol li::before {
  content: counters(item, ".") " ";
}

ol.terms-list ol {
  counter-reset: item;
}

ol.terms-list ol li {
  margin-bottom: 1rem;
}

ol.terms-list ol ol li {
  margin-left: 0.75rem;
}

ol.terms-list ol ol ol li {
  margin-left: 1.5rem;
}

.footer {
  background: #ecece8;
}

.logo-footer {
  display: block;
  height: 28px;
  width: auto;
  margin: 1rem 0;
}

.terms-row {
  display: flex;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.terms-table {
  border: 1px solid;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  border-radius: 0.5rem;
}

.terms-table-header-top {
  margin: -1rem -1rem 1rem -1rem;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #ecece8;
  border-radius: 0.5rem 0.5rem 0 0;
}

.terms-table-header {
  margin: 2rem -1rem 1rem -1rem;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #ecece8;
}

.terms-link {
  font-weight: 600;
  margin: 0.5rem;
  color: #27272a;
  text-decoration: none;
}
.terms-link:hover {
  text-decoration: underline;
}

.terms-link--home {
  color: var(--main-text-color);
}

.footer-text {
  font-weight: 600;
  margin: 0.5rem;
  color: #27272a;
}

@keyframes bg-animation-horizontal {
  0% {
    transform: scale(2, 1) translate(25%, 0%);
  }
  50% {
    transform: scale(2, 1) translate(-25%, 0%);
  }
  100% {
    transform: scale(2, 1) translate(25%, 0%);
  }
}

@keyframes bg-animation-vertical {
  0% {
    transform: scale(1, 2) translate(0%, 25%);
  }
  50% {
    transform: scale(1, 2) translate(0%, -25%);
  }
  100% {
    transform: scale(1, 2) translate(0%, 25%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
  .content {
    margin-left: 16%;
    padding-top: 20vh;
    width: 48%;
  }
  .terms-container {
    margin-left: 16%;
    width: 68%;
  }
  .logo-hero {
    width: 70%;
  }
  .shadow-texture {
    filter: blur(16px);
  }
  .background-gradient {
    animation: bg-animation-horizontal 8s ease infinite;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
